@import url(viewBlock.css);
@import url(controllBlock.css);
@import url(tipsBlock.css);

.wrapper {
	border: 1px solid silver;
	border-radius: 7px;
	width: 60%;
	padding: 5px;
	margin: 10px auto;
	padding: 5px;
}
