.wrapper {
	border: 1px solid silver;
	width: 70%;
	height: 570px;
	margin: 10px auto;
	padding: 5px;
}

.view {
	border: 1px solid silver;
	width: 84%;
	height: 500px;
	float: left;
	margin-bottom: 10px;
	overflow: hidden;
}

.control {
	border: 1px solid silver;
	width: 15%;
	height: 500px;
	float: right;
}

.tips {
	clear: both;
	height: 50px;
	border: 1px solid silver;
}

#sel {
	margin-top: 60px;
}

.control button {
	display: block;
	width: 80%;
	height: 40px;
	margin: 10px auto;
}

.control button[id] {
	height: 60px;
	width: 90%;
}

#again {
	margin-top: 100px;
}

.output {
	border: 1px solid silver;
	width: 95%;
	margin: 5px auto;
	height: 150px;
}

.img {
	background: #D3CFCF url("../img/suite.png") no-repeat;
}
