.wrapper {
	border: 1px solid silver;
	border-radius: 7px;
	width: 60%;
	padding: 5px;
	margin: 10px auto;
	padding: 5px;
}

/*------------------veiw block-----------------*/
.view {
	border-radius: 5px 0 0 0;
	width: 84%;
	height: 500px;
	float: left;
	margin-bottom: 0px;
	background-image: url("../img/bg.png");
	overflow: hidden;
}

#vw {
	position: relative;
}

#vw p {
	position: absolute;
	top: 200px;
	left: 50px;
	font-size: 2em;
	font-style: italic;
}

.output {
	width: 85%;
	margin: 10px auto;
	height: 150px;
	position: relative;
}

/*--------------end veiw block-----------------*/
/*---------------control block-----------------*/

.control {
	border-radius: 0 5px 0 0;
	background-color: #3A3838;
	background: linear-gradient(to bottom, #d5cea6 0%,#c9c190 40%,#b7ad70 100%);
	width: 16%;
	height: 500px;
	float: right;
}

#sel {
	margin-top: 90px;
}

.control button {
	display: block;
	width: 80%;
	height: 40px;
	margin: 10px auto;
}

.control button[id] {
	height: 60px;
	width: 90%;
}

#next {
	margin-top: 130px;
}
/*-----------end control block-----------------*/
/*------------------tips block-----------------*/

.tips {
	border-radius: 0 0 5px 5px;
	clear: both;
	height: 35px;
	background-color: #3A3838;
	color: white;
}


#tips p {
	font-style: italic;
	font-size: 1.2em;
	width: 60%;
	margin: 5px auto;
}

/*--------------end tips block-----------------*/
/*----------- used in js block-----------------*/
.img {
	width: 101px;
	height: 150px;
	background: #D3CFCF url("../img/suite.png") no-repeat;
	position: absolute;
}
