body {
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
}

.wrapper {
	position: relative;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding-top: 20px;
	background: rgb(26,28,29);
	background: radial-gradient(circle, rgba(26,28,29,1) 8%, rgba(41,49,56,1) 94%); 
}

.wrapper__view {
	height: 600px;
	width: 80%;
	max-width: 900px; 
	display: flex;
	padding: 20px;
	border: 2px solid #1e241e;
	border-radius: 70px;
	background: rgb(31,37,31);
	background: linear-gradient(63deg, rgba(31,37,31,1) 7%, rgba(62,71,62,1) 28%, rgba(30,36,30,1) 49%, rgba(46,52,46,1) 74%, rgba(32,41,32,1) 92%); 
	box-shadow: 3px 2px 13px 5px rgba(0,0,0,0.75);
}

.wrapper__controls {
	position: absolute;
	bottom: 0;
	width: 100%;
}


.view {
	width: 100%;
	border: 1px solid #2e342e;
	border-radius: 55px;
	background: rgb(43,96,27);
	background: radial-gradient(circle, rgba(43,96,27,1) 8%, rgba(16,102,20,1) 94%);
	box-shadow: inset 0px 0px 80px -14px rgba(114,207,120,1);
	overflow: hidden;
}


.controls {
	display: flex;
	height: 200px;
	padding: 10px 30px;
	align-items: center;
	justify-content: space-between;
}

.controls__center {
	align-self: flex-end;
}


.btns {
	width: 250px;
	display: flex;
	justify-content: space-between;
}


.btn {
	padding: 6px 15px;
	border: 1px solid #232523;
	outline: none;
	border-radius: 5px;
	background: #0f110f;
	color: white;
	cursor: pointer;
	box-shadow: 1px 1px 5px 3px rgba(0,0,0,0.75);
}

.btn:hover {
	background: #131513;
	color: lightgray;
	transform: scale(1.03);
}

.btn_big {
	width: 75px;
	height: 75px;
	border: 2px solid #333533;
	border-radius: 50%;
}


.tips {
	display: none;
}